.popup {
  background-color: white;
  padding: 2vh 0 0 3vw;
  margin: -83vh 0 0 76vw;
  height: 100vh;
  position: absolute;
  animation-name: modalFade;
  animation-duration: 0.5s;
}

.popup-inner {
  width: 22vw;
  height: 100vh;
  background-color: white;
  color: black;
}

@keyframes modalFade {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(-1%);
  }
}

@keyframes modalOut {
  from {
    transform: translateX(-1%);
  }
  to {
    transform: translateX(50%);
  }
}

.popup-inner .close-btn {
  background-color: white;
  border: none;
  color: rgb(233, 225, 225);
  font-size: 30px;
  width: 20px;
  height: 20.7px;
  padding: 0 0 3vh 18vw;
}

#prdt_name {
  font-family: HelveticaNeue Bold;
  font-size: 26px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1c1c1c;
}

.border_title {
  width: 90%;
  height: 5px;
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: #1c1c1c;
}

#prdt_desc {
  font-family: HelveticaNeue Regular;
  font-size: 15px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #717171;
}

#prdt_ref {
  font-family: HelveticaNeue Bold;
  font-size: 14px;
  font-weight: bold;
  line-height: 2.5;
  letter-spacing: normal;
  text-align: left;
  color: #939393;
}

#prdt_price {
  font-family: Alef Regular;
  font-size: 18px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1c1c1c;
}

.prdt_img {
  padding: 2vh 0 0 0;
}

.border_before_size_part {
  width: 90%;
  height: 2px;
  margin: 10px 0 10px 0;
  border-radius: 20px;
  background-color: #e9e9e9;
}

#prdt_size_txt {
  font-family: HelveticaNeue Regular;
  font-size: 14px;
  color: #424242;
}

#prdt_size {
  font-family: HelveticaNeue Bold;
  color: #717171;
  font-size: 15px;
}

#btn_payment {
  width: 200px;
  margin: 4vh 0 5px 2vw;
  padding: 0.5rem;
  color: #f8f8f8;
  background-color: black;
  font-size: 15px;
  font-family: HelveticaNeue Regular;
}

#btn_payment:hover {
  height: 35px;
  color: #f8f8f8;
  background-color: grey;
  border: none;
}

#btn_continue_shopping {
  width: 200px;
  margin: 1vh 0 5px 2vw;
  padding: 0.5rem;
  color: black;
  background-color: white;
  font-size: 15px;
  font-family: HelveticaNeue Bold;
}

@media only screen and (min-width: 1500px) {
  .popup {
    padding: 2vh 0 0 1vw;
    margin: -82vh 0 0 77vw;
  }

  .border_title {
    width: 97%;
  }

  .popup-inner .close-btn {
    padding: 0 0 3vh 19.5vw;
  }

  .border_before_size_part {
    width: 97%;
  }

  #btn_payment {
    margin: 4vh 0 5px 5vw;
  }

  #btn_continue_shopping {  
    margin: 1vh 0 5px 5vw;
  }

  .prdt_img {
    padding: 2vh 0 0 4vw;
  }
}
